<% if current_user %>
  Logged in as <%= current_user.fullname %>.
  <%= link_to "Log Out", logout_path %>
<% else %>
  <%= redirect_to login_path %>
<% end %>
<p>
  <strong>Title:</strong>
  <%= @article.title %>
</p>
 
<p>
  <strong>Text:</strong>
  <%= @article.text %>
</p>

<h2>Comments</h2>
<%= render @article.comments %>

<h2>Add a comment:</h2>
<%= render 'comments/form' %>

<%= link_to 'Edit', edit_article_path(@article) %> |
<%= link_to 'Back', articles_path %>